/**
 * App-wide Styles
 */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// injector
@import 'app.mixins.less';
@import 'app.variables.less';
@import 'development/development.less';
@import 'pictures/pictures.less';
// endinjector

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  border-image-width: 0;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

html, body, {
  width: 100%;
  height: 100%;

  background-color: @main-background-color;
  /*background-color: orange;*/
}

body {
  color: @main-font-color;
  font-family: Arial, Helvetica, Geneva, sans-serif;
}

section.container, section.page-container, section.content {
  height: 100%;
  width: 100%;
  background-color: @main-background-color;
}

.loading-screen {
  position: absolute;
  background: @highlight-background-color url('/assets/images/spinner3.gif') no-repeat center center;
}

.clear-fix {
  .clear();
}

.mobile-menu {
  display: none;
  width: @mobile-menu-width;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #000;
  z-index: 5;
}

.mobile-menu.hide {
  display: none;
}


.mobile-menu a {
  display: block;
  background-color: orange;

}

section.page-container {
  overflow-x: hidden;
  z-index: 10;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-duration: @mobile-menu-transition-duration;
  transition-duration: @mobile-menu-transition-duration;
  /*background-color: @highlight-background-color;*/

}

.mobile-menu.show + .page-container {
  display: block;
  position: absolute;
  -webkit-transform: translateX(@mobile-menu-width);
  transform: translateX(@mobile-menu-width);
  -webkit-transition-duration: @mobile-menu-transition-duration;
  transition-duration: @mobile-menu-transition-duration;
  overflow-x: hidden;
  overflow-y: hidden;
}

.mobile-menu-trigger {
  position: absolute;
  left: 1em;
  top: 1em;
  width: 3em;
  height: 3em;
  background: @main-background-color url('/assets/images/icon-menu.svg') no-repeat center center;
  .border(1px, #444, 3px);
  z-index: 5;
}

/* ===== == = === 37.5em (600px) === = == ===== */

@media only screen and (min-width: 37.5em) {

  html {
    overflow-y: -moz-scrollbars-vertical;
    overflow-y: scroll;
  }

  header {
    display: block;
  }

  .load-more a:hover {
    color: powderblue;
  }

  .item {
    padding-left: 5px;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu-trigger {
    display: none;
  }

  /*.mobile-menu {
    width: 20%;
  }
  .mobile-menu.show + .page-container {
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
    overflow-x: hidden;
  }*/

}
