@main-background-color          :     #000;
@highlight-background-color     :     #222;
@main-font-color                :     #fff;

@mobile-menu-width              :     70%;
@mobile-menu-transition-duration:     0.3s;
