test <input type="button" value="Menu" menu-trigger/>





<!--<nav class="mobile-menu" ng-class="{'mobile-menu show' : vm.menuVisible, 'mobile-menu' : !vm.menuVisible}">
  <a href="#">Home</a>
  <a href="#">One</a>
  <a href="#">Two</a>
  <a href="#">Three</a>
  <a href="#">Four</a>
</nav>
<section class="page-content">
  This is where my content goes!!!
  <input type="button" ng-click="vm.showMenu()" value="Show Menu"/>
  <input type="button" ng-click="vm.hideMenu()" value="Hide Menu"/>
</section>-->



<!--<div id="sp-nav" ng-class="{'show wide' : vm.menuVisible, 'wide' : !vm.menuVisible}">
<div>
    <a href="#">Home</a>
    <a href="#">One</a>
    <a href="#">Two</a>
    <a href="#">Three</a>
    <a href="#">Four</a>
</div>
</div>

<div id="sp-page">
  This is where my content goes!!!
  <input type="button" ng-click="vm.showMenu()" value="Show Menu"/>
  <input type="button" ng-click="vm.hideMenu()" value="Hide Menu"/>
</div>-->
