<div class="pictures-view">

  <!--<a class="menu" href="#menu">
    &#9776;
  </a>-->

  <div class="grid">
    <div ng-repeat='picture in vm.pictures' class="item">
      <image-loader picture="picture" />
      <span class="description">Testing</span>
    </div>
  </div>

  <div ng-switch="vm.loadingMorePictures" ng-if="vm.morePicturesToLoad" class="load-more-container">
    <div ng-switch-when='true'><img ng-src="/assets/images/spinner.gif" alt="Loading more pictures..." /></div>
    <div ng-switch-default class="load-more"><a ng-click='vm.changePage(vm.currentPage + 1)'>Load more pictures</a></div>
  </div>

</div>
