/* ===== == = === 48em (768px) === = == ===== */

@media only screen and (max-width : 48em) {

  .toggle-menu {
    position: fixed;
    top: 1em;
    right: @nav-mobile-menu-trigger-offset;
    z-index: 99997 !important;
  }

  nav.menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;

    height: 100%;
    width: @nav-mobile-menu-width;

    list-style: none;
    background: @nav-bg-colour;
    z-index: 99996 !important;

    overflow-x: hidden;
    overflow-y: hidden;

    h3 {
      padding: .5em;
      font-size: 1.5em;
      text-align: center;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      height: 100%;

      li {

        text-align: center;
        width: 100%;

        a {
          display: block;
          line-height: 3em;
          color: @nav-font-color;
          cursor: hand;
          text-decoration: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        }
        :active, .active {
          background-color: @nav-bg-highlight-color;
          cursor: default;
          font-weight: bold;
          color: @nav-font-color;
        }
      }
      :last-child:after {
        .clear;
      }
    }
  }

}

/* ===== == = === 48em (768px) === = == ===== */

@media only screen and (min-width : 48em) {

  .toggle-menu, .button {
    display: none;
  }

  nav.menu {
    display: block;
    position: absolute;
    bottom: 3em;
    left: 0;

    height: 3em;
    width: 100%;

    background: @nav-bg-colour;
    z-index: 99997 !important;

    background: rgba(0, 0, 0, 0.8);
    border: solid 1px #777;
    border-left: 0;
    border-right: 0;

    h3 {
      float: left;
      .vertical-center;
      margin-left: 2em;
    }

    ul {
      float: right;
      list-style-type: none;
      height: 100%;
      margin-right: 2em;

      li {
        display: inline-block;

        .vertical-center;

        text-align: center;
        width: 6em;

        a {
          display: block;
          line-height: 3em;
          cursor: hand;
          text-decoration: none;
          :hover {
            color: @nav-bg-highlight-color;
          }
        }

        .active {
          background-color: @nav-bg-highlight-color;
          cursor: default;
          font-weight: bold;
          color: @main-font-color;
          :hover {
            color: @nav-bg-highlight-color;
          }
        }
      }
      :last-child:after {
        .clear;
      }
    }
  }
}
